.menuBar {
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .menuBar a {
    text-decoration: none;
    color: #131212;
    margin-right: 20px;
  }
  
  .menuBar .logo {
    color: #060505;
    font-weight: bold;
  }

  .menuBar ul {
    display: flex;
  }
  
  .menuBar ul li{
    list-style: none;
    padding-left: 10px;
    font-size: 15px;
    
  }
  